name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Set up Python
        run: uv python install python3.12
      - name: Install the project
        run: uv sync --all-extras --dev
      - name: Check code formatting
        run: uv run ruff format --check
      - name: Check code style
        run: uv run ruff check
      - name: Run tests
        run: uv run pytest
